@import "~materialize-css/dist/css/materialize.min.css";

@font-face {
    font-family: "CourierNewRegular";
    src: local("CourierNewRegular"), url("public/fonts/CourierNewRegular.ttf");
}

@font-face {
    font-family: "GothamProRegular";
    src: local("GothamProRegular"), url("public/fonts/GothamProRegular.ttf");
}
@font-face {
    font-family: "GothamProBold";
    src: local("GothamProBold"), url("public/fonts/GothamProBold.ttf");
}

@font-face {
    font-family: "RobotoSlabBold";
    src: local("RobotoSlabBold"), url("public/fonts/RobotoSlabBold.ttf");
}

.withBackgroundColor {
    background-color: #f1f1f1;
}
.withBackgroundImage {
    background-image: url("public/images/bg.jpg");
    background-attachment: fixed;
}


body {
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
}

#root {
    height: 100vh;
    width: 100vw;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #79a4c6;
}
.sidebar > ::-webkit-scrollbar {
    width: 0;
    background-color: #79a4c6;
}
::-webkit-scrollbar-thumb {
    background-color: #79a4c6;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}
html {
    overflow-x: hidden;
}

textarea {
    border: 1px solid #8cc3f3 !important;
}
textarea:focus{
    border: 2px solid #3273AB !important;
    outline: none;
}
.custom-input {
    border-bottom: 1px solid #8cc3f3 !important;
    box-shadow: 0 1px 0 0 #8cc3f3 !important;
}
.custom-input + label {
    color: #000000 !important;
}
.custom-input:focus + label {
    color: #3273AB !important;
}
.custom-input:focus {
    border-bottom: 1px solid #3273AB !important;
    box-shadow: 0 1px 0 0 #3273AB !important;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}
input[type="time"] {
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-input-file {
    border-bottom: 1px solid #8cc3f3 !important;
    box-shadow: 0 1px 0 0 #8cc3f3 !important;
}
.custom-input-file::-webkit-file-upload-button{
    background-color: #3a73ab;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    color: white;
    outline: none;
    margin-bottom: 2px;
}
.custom-input-file::-webkit-file-upload-button:hover{
    background-color: #7ba5c6;
}
.custom-input-file:focus{
    outline: none !important;
    border-bottom: 1px solid #3273AB !important;
    box-shadow: 0 1px 0 0 #3273AB !important;
}

/*тень для главного блока на странице*/
#main{
    box-shadow: 20px 15px 20px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(0, 0, 0, 0.08);
}

/* Header */
.navHeader {
    position: fixed;
    background-color: #3273ab;
    width: 100%;
    padding: 0 2rem;
    height: 80px;
    z-index: 10;
    border-radius: 0 0 30px 0;
}

.toHomeIcon {
    background-image: url("public/icons/home.svg");
    /*width: 27px;*/
    /*height: 40px;*/
    width: 20px;
    height: 30px;
    margin-left: 10px;
    /*margin-bottom: -15px;*/
    margin-bottom: -11px;
}
.toViewIcon {
    background-image: url("public/icons/next.svg");
    width: 19px;
    height: 30px;
    margin-left: 10px;
    /*margin-bottom: -15px;*/
    margin-bottom: -11px;
}
.toExitIcon {
    background-image: url("public/icons/logout.svg");
    width: 19px;
    height: 30px;
    margin-left: 10px;
    /*margin-bottom: -15px;*/
    margin-bottom: -11px;
}
.toArrowIcon {
    background-image: url("public/icons/next.svg");
    width: 18px;
    height: 30px;
    margin-left: 10px;
    margin-bottom: -12px;
}
.toPlusIcon {
    background-image: url("public/icons/plus.svg");
    width: 19px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: -13px;
}

.headerNavLink {
    margin-right: 2rem;
    /*margin-top: 15px;*/
    margin-top: 5px;
    /*font-size: large;*/
    border-radius: 5px 5px 5px 5px;
    box-shadow: 20px 15px 20px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(0, 0, 0, 0.08);
    font-family: "GothamProRegular", serif;
}

#toast-container {
    bottom: auto !important;
    left: auto !important;
    top: 30%;
    right: 15%;
    /*transform: rotate(30deg);*/
}

.headerNavLink:hover {
    background-color: #79a4c6;
    border-radius: 5px 5px 5px 5px;
    font-family: "GothamProRegular", serif;
}
@media only screen and (max-width: 992px){
    nav .brand-logo{
        left: 10%;
    }
}
.leftBlock {
    float: left;
}

.brand-logo {
    /*margin-top: 15px;*/
    margin-top: 5px;
    font-family: "CourierNewRegular", serif;
    font-weight: bold;
}

/*Sidebar*/
.sidebar {
    /*margin-top: 103px;*/
    margin-top: 83px;
}
.sidebar > div{
    position: fixed;
    display: block;
    /*width: 19%;*/
    width: 15%;
    opacity: 1;
    border-radius: 0 0 30px 0;
    color: white;
    z-index: 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22);
    /*overflow-y: scroll;
    height: 72%;*/
}

/*sidebar*/
#first-nav-link {
    margin-top: 0;
}
.nav-link {
    color: white;
    display: block;
    padding: 15px;
    margin-top: 2px;
    /*font-size: x-large;*/
    font-size: large;
    background-color: #3273ab;
    text-decoration: none;
    text-align: left;
}


#last-nav-link {
    border-radius: 0 0 30px 0;
}

.nav-link:hover {
    background-color: #79a4c6;
}

.upArrow {
    background-image: url("public/icons/up-arrow.svg");
}
.downArrow {
    background-image: url("public/icons/down-arrow.svg");
}

/*main*/
.container {
    margin-left: 21%;
    margin-top: 9%;

}
.specialContainer {
    margin-top: 9%;
    width: 80%;
    margin-left: 10%;
}

.view {
    margin-top: 9%;
    text-align: center;
    width: 100%;
}

.timeRedactor {
    display: flex;
    flex-dirdirection: row;
}

.session {
    margin-left: 50px;
}

.custom-button {
    background-color: #3a73ab;
}
.custom-button:hover{
    background-color: #7ba5c6;
}
.custom-button:focus{
    background-color: #3a73ab;
}