.main{
    background-color: white;
    padding: 20px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    width: 60%;
}
.title {
    font-family: 'GothamProBold';
}

.button {
    background-color: #3a73ab;
}

.button:hover, .addSpecialCourse:hover{
    background-color: #7ba5c6;
}
.button:focus, .addSpecialCourse:focus {
    background-color: #3a73ab;
}


.addFormUser {
    text-align: center;
    border: 1px #393838 solid;
    border-radius: 5px 5px 5px 5px;
}

.addFormUser form  {
    text-align: center;
    width: 70%;
    margin-left: 15%;
}
.inputBlock {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.inputBlock h5{

}
.inputBlock div{
    margin-left: auto;
    width: 75%;
 }


.userList table{
    border-collapse: collapse;
    border: 1px #393838 solid;
}
.userList table thead tr th{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 15px;
    text-align: center;
}

.userList table tbody tr td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 0;
}

.redCross{
    background-image: url("../../public/icons/delete.svg");
    width: 20px;
    height: 30px;
    cursor: pointer;
}
.deleteTh {
    background-image: url("../../public/icons/rubbish.svg");
    width: 23px;
    height: 30px;
}

.editGray{
    background-image: url("../../public/icons/grey pen.svg");
    width: 25px;
    height: 25px;
}

.editBlue{
    background-image: url("../../public/icons/blue pen.svg");
    width: 25px;
    height: 25px;
    cursor: pointer;
}