.main {


}
.selectBlock {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: -30px;
}
.selectBlock > div:not(.datePickerDiv){
    width: 35%;
    border-radius: 4px;
    margin-top: 15px;
    box-shadow: 20px 30px 30px rgba(0, 0, 0, 0.1), 30px 40px 40px rgba(0, 0, 0, 0.08), 40px 60px 60px rgba(0, 0, 0, 0.15);
}
.schoolChoose {

}
.classChoose {
    margin-left: 10px;
}
.sessionChoose{
    margin-left: 10px;
}
.selector {
    z-index: 5;
}
.datePickerDiv {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 15px;
    box-shadow: 20px 30px 30px rgba(0, 0, 0, 0.1), 30px 40px 40px rgba(0, 0, 0, 0.08), 40px 60px 60px rgba(0, 0, 0, 0.15);
}
.datePicker{

}
.greyBack {
    background-color: #F2F2F2;
}


.viewTable {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #E4DFDE;
    box-shadow: 20px 30px 30px rgba(0, 0, 0, 0.1), 30px 40px 40px rgba(0, 0, 0, 0.08), 40px 60px 60px rgba(0, 0, 0, 0.15);
}
.viewTable > div {
    z-index: 4;
}
.timeBlock{

}
.classBlock{

}
.leftMargin {
    margin-left: 2px;
}
.lastMargin {
    margin-bottom: 2px;
}
.paddingTop {
    padding-top: 12px;
}
.specialPaddingTop {
    padding-top: 2px;
}
.time {
    height: 50px;
    background-color: white;
    text-align: center;
}
.subject {
    height: 50px;
    background-color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
}
.subjectTitle {
    font-family: GothamProBold, serif;
}
.office{
    background-color: white;
 }
.titleTable {
    background-color: #3273AB;
    text-align: center;
    padding: 5px;
    font-family: GothamProBold, serif;
    color: white;
}
.firstIndexSecondSession{
    /*margin-top: 10px;*/
}

.button {
    background-color: #6185c3;
    margin-top: 30px;
    font-family: "GothamProBold", serif;
}

.button:hover {
    background-color: #7ba5c6;
}

.button:focus {
    background-color: #3a73ab;
}